*{
  border: 1px solid gold;
}

body{
  margin: 0px;
}

.welcome{
  color: ghostwhite;
  background-image: url("../IMGS/welcome.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 45vw auto 45vw;
  grid-template-rows: 45vh auto 45vh;
}

.title{
  grid-row-start: 2;
  grid-column-start: 2;
}
