@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;1,600;1,900&display=swap');

*{
  background-image: url("../IMGS/background.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: 'Barlow Condensed', sans-serif;
}

html {
  scroll-behavior: smooth;

}

body{
  margin: 0px;
}

h3{
  margin: 0px;
}

p{
  margin: 0px;
}

.welcome{
  color: ghostwhite;
  background-image: url("../IMGS/welcome.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 45vw auto 45vw;
  grid-template-rows: 13vh auto 45vh;
  font-size: 25px;
}

.title{
  grid-row-start: 2;
  grid-column-start: 2;
  background: inherit;
}

.title h1{
  background: inherit;
}

.me{
  color: green;
	font-size: 40px;
	text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

.projects{
  color: ghostwhite;
  text-align: center;
  text-shadow: 2px 2px black;
}

.projects a{
  color: ghostwhite;
  text-shadow: 2px 2px black;
  font-weight: bold;
  text-decoration: none;

}

.projects a:hover{
  color: ghostwhite;
  text-shadow: 1px 1px black;
  text-decoration: underline;
}

.projects img{
  width: 100px;
  height: 100px;
}

.solo{
  display: grid;
  grid-template-columns: 100px auto 100vh;
  grid-template-rows: 50px auto auto;
  text-align: left;
  margin-left: 0px;
}

#pac{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
}

#pacTitle{
  grid-row-start: 1;
  grid-column-start: 2;
  margin-top: 0px;
  margin-bottom: 0px;
}

#pacText{
  grid-row-start: 2;
  grid-column-start: 2;
  margin-top: 0px;
  margin-bottom: 0px;
}

.group{
  display: grid;
  grid-template-columns: 100px auto 100vh;
  grid-template-rows: 50px auto auto auto auto auto auto auto auto;
  text-align: left;
}

#cohort{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
}

#cohortTitle{
  grid-row-start: 1;
  grid-column-start: 2;
  margin: 0px;
}

#cohortText{
  grid-row-start: 2;
  grid-column-start: 2;
  margin-bottom: 20px;
}

#cohortCite{
  grid-row-start: 3;
  grid-column-start: 1;
}

#cohortList{
  grid-row-start: 4;
  grid-column-start: 1;
  list-style: none;
}

#wish{
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
}

#wishTitle{
  grid-row-start: 6;
  grid-column-start: 2;
  margin-top: 0px;
  margin-bottom: 0px;
}

#wishText{
  grid-row-start: 7;
  grid-column-start: 2;
  margin-top: 0px;
  margin-bottom: 20px;
}

#wishCite{
  grid-row-start: 8;
  grid-column-start: 1
}

#wishList{
  grid-row-start: 9;
  grid-column-start: 1;
  list-style: none;
}

.footer{
  color: black;
  text-shadow: 2px 2px white;
  font-size: 20px
}

.footer a{
  color: black;
  text-shadow: 2px 2px white;
}

.footer li{
  display: inline-block;
  list-style: none;
}

.music{
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px){
  .welcome{
    background: inherit;
    height: 50vh
  }

  .me {
    margin-bottom: 20vh;
  }

  .me h1{
    font-size: 50px
  }

  .project h1{
    font size: 50px;
  }

  .projects img{
    width: 300px;
    height: 300px;
  }

  .solo{
    display: grid;
    grid-template-columns: 30% auto auto;
    grid-template-rows: auto auto auto auto;
    text-align: left;
  }

  #scp{
    grid-column-start: 2;
    grid-row-start: 1;
  }

  #scpTitle{
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: 30px;
  }

  #scpText{
    display: none;
  }

  #pac{
    grid-column-start: 2;
    grid-row-start: 3;
  }

  #pacTitle{
    grid-column-start: 2;
    grid-row-start: 4;
    font-size: 30px;
  }

  #pacText{
    display: none;
  }

  .group{
    display: grid;
    grid-template-columns: 30% auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    text-align: left;
  }

  #cohort{
      grid-column-start: 2;
      grid-row-start: 1;
    }

    #cohortTitle{
      grid-column-start: 2;
      grid-row-start: 2;
      font-size: 30px;
    }

    #cohortText{
      display: none;
    }

    #cohortCite{
      grid-column-start: 2;
      grid-row-start: 3;
      font-size: 20px
    }

    #cohortList{
      grid-column-start: 2;
      grid-row-start: 4;
      font-size: 20px
    }

    #wish{
      grid-column-start: 2;
      grid-row-start: 5;
    }

    #wishTitle{
      grid-column-start: 2;
      grid-row-start: 6;
      font-size: 30px
    }

    #wishText{
      display: none;
    }

    #wishCite{
      grid-column-start: 2;
      grid-row-start: 7;
      font-size: 20px
    }

    #wishList{
      grid-column-start: 2;
      grid-row-start: 8;
      font-size: 20px
    }

    .footer{
      color: ghostwhite;
      text-shadow: none;
    }

    .footer a{
      color: ghostwhite;
      text-shadow: none;
    }
}
