*{
  border: 1px solid gold;
  background-image: url("../IMGS/background.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

body{
  margin: 0px;
}

.welcome{
  color: ghostwhite;
  background-image: url("../IMGS/welcome.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 45vw auto 45vw;
  grid-template-rows: 45vh auto 45vh;
}

.title{
  grid-row-start: 2;
  grid-column-start: 2;
  background: inherit;
}

.title h1{
  background: inherit;
}

.me{
  color: ghostwhite;
  text-align: center;
  text-shadow: 2px 2px black;
}
